//Import Styling
@import '../vars';

//Buttons//

.button {
    display: inline-block;
    padding: 0.8em 2em;
    text-decoration: none;
    // border-radius:$button-border-radius;
    font-family: $base-font-family;
    font-size: 18px;
    border: none;
    border-radius: 2px;
    transition: transform .5s ease;
    width:fit-content;
    min-width: 150px;

    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer; 

    &:hover {
        background:  $rental-black; 
    }
}

button:focus {
    outline: none;
    outline-offset: -4px;
}

.submit-btn{
    background: $rental-red;
    color: #fff;
    &:hover{
        background: $rental-black;
    color: #fff;
    }
}

.view-rental-page{
    margin-top: 5%;
    background: $rental-red;
    color: #fff;
    padding: 1em 2em;

    &:hover {
        .float-right{
          transition: ease-in 0.3s;
          transform: translateX(6px);
        }
    }
}

//Button Arrow
.float-right{
    margin: 0 0 0 1.2em;
}

.view-rental-modal-btn{
    margin: 5%;
    background: $rental-red;
    border:2.5px solid $rental-red;
    color: #fff;
    padding: 0.6em 2em;

}

.sav-btn{
    background: $rental-red;
    color: #fff;
    // padding:0.5em;
    &:hover{
        background: $rental-black;
    color: #fff;
    }
}

.send-btn{
    background: $rental-red;
    color: #fff;
    width: 100%;
    &:hover{
        background: $rental-black;
        color: #fff;
    }
}

.login-btn{
    background: $rental-red;
    color: #fff;
    width: 100%;
    &:hover{
        background: $rental-black;
        color: #fff;
    }
}

.create-account-page{
    background: #fff;
    border: 2px solid $rental-red;
    color: $rental-red;
    width: 100%;

    &:hover{
        background: #fff;
        border: 2px solid $rental-black;
        color: $rental-black;
        font-weight: 500;
    }
}

.edit-btn{
    background: white;
    color:  $rental-black;
    border: 2px solid $rental-black;
    &:hover{
      background: $rental-red;
      border: 2px solid$rental-red;
      color: white;
    }
  }
  .delete-btn{
    background: $rental-black;
    color:  white;
    margin-left:2em;
    &:hover{
        background: $rental-red;
        color:  white;
    }
  }


.login-style{
    background: $rental-red;
    color: #fff;
    display: inline-block;
    // padding: 0.6em 1.5em;
    text-decoration: none;
    border: none;
    transition: all 0.2s ease;
    cursor: pointer; 

    .hover {
        background:  $rental-black; 
    }
}

//Filter Button
.filter-btn {
    background: white;
    color:#1f1f1f;
    transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
    will-change: transform, box-shadow;
    box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.1);

    &:hover{
        background: $rental-black;
        color:#fff;
        box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.15);
        transition: all 0.3s ease; 
    }
}
  
  .filter-btn.is-active {
    border: 2px solid $rental-red !important;
    background-color: $rental-red;
    color:white;
  }

  .modal-close-btn {
    position: absolute;
    z-index: 500;
    top: 25px;
    right: 25px;
    display: inline-block;
    padding: 0.8em 2em;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    border: 2px solid #b82026;;
    color: #b82026;
    transition: all 0.2s ease;
    cursor: pointer;
    outline: none;
    font-size: 2;
  
    &:hover{
    background: #b82026;
    color: #fff;
    transition: transform .5s ease;
  }
}



//Desktop

@media only screen and (max-width: 1600px) {

    .button{
        font-size: 15px;
    }
}
  
//Tablet
  
@media only screen and (max-width: 768px) {
    .button{
        font-size: 22px;
        width: 100%;
    }
}