//Import Styling
@import '../vars';

/* ==========NOTIFICATION STYLING ============= */
#notifications {
    position: fixed;
    top: 100px;
    right: 30px;
    width: 300px; 
}
  
.notification-entry {
    font-family: $heading-font-family;
    padding: 1em;
    text-align: center;
    background: #fff;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    // border-radius: 200px;
    margin-bottom: 10px;
    position: relative; 
}

.mobile-template{
  display: none;
}

//Hide on Mobile
@media only screen and (max-width: 1024px) {

  .page-content{
    display: none;
  }

  .mobile-template{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 100vh;
    width: 100%;
    padding: 6em;
    .mobile-icon{
      height: 20vh;
      width: 20vh;
    }
    h2{
      text-align: center;
      margin: 0 0 0.2em 0;
    }
    p{
      text-align: center;
      margin: 0 0 1em 0;
    }
  }

}

.width-100{
  width:100%;
}

.template--404{
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover{
    height:50vh;
    width:100%;

    display:grid;
    grid-template-columns: 100%;
    align-items: center;

    .overlay{
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);

      .hero-text{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    }

}

.hero-image {
    width: 100%;
    height: 100vh;
}

.fixed-content{
  position: absolute;
  top:0;
  width: 100%;
}

.rental-image{
    background-image: url(../images/hero-image.jpg);
    background-size: cover;
}

.contact-image{
    background-image: url(../images/hero-image-createAccount.jpg);
    background-size: cover;
}

.login-image{
    background-image: url(../images/hero-image-login.jpg);
    background-size: cover;
    display: grid;
    justify-content: center;
    align-content: center;

    h2 {
        color: white;
        text-align: center;
      }
}

.save-image{
    background-image: url(../images/hero-image.jpg);
    background-size: cover;
}

.cover-center{
    height:60vh;
    width:100%;

    display:grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-content: center;
}

.contact-image{
    background-image: url(../images/hero-image-contact.jpg);
    background-size: cover;
}

.hero-text{

    h2{
        margin:0;
        color:white;
        font-weight: 500;
        text-align: center;
    }

    p{
        margin:0;
        color:white;
    }
}

.hero-text-center{
    margin-left:0;

    h2{
        margin:0;
        color:white;
        font-weight: 400;
    }
}

#map{
    height:100%;
    width:100%;
}


/////////////Contact Page/////////////
.contact--details {
  margin:2.5% 5%;
  p{
    text-align: center;
  } }

.page-content-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin:-10% 0 10% 0;
    background-color: #fff;
    
    position: relative;
    h4{
      color:$rental-red;
    }
  
  .clm-1{
    padding: 4em;
  }

  .clm-2{
    padding: 4em;
  }
}

.contact-row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap:2em;
    margin-top: 2.5em;

    .contact-icon{
      width: 35px;
      height: 35px;

    }
    p{
      margin: 0;
    }
}

/////////////Create Account Page/////////////
.createAccount-Page {
    h4 {
        text-align: center;
    }
}
  
    #form-create-account {
        width:100%; 
    }
  
  .createAccount-Column {
    display: grid;
    grid-template-columns: 47.5% 5% 47.5%; }
  
  #Dropdown {
    font-size: 1em;
    padding: 0.8em;
    // border-radius: 100px;
    border: 1px solid #ddd;
    width: 100%;
    margin-bottom: 1em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
  }
  
  #Dropdown:focus {
    border-color: #b82026;
    outline: none;
    box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.07); }
  
  .firstName {
    grid-column: 1; 
    }
  
  .lastName {
    grid-column: 3;
  }

  .mobile {
    grid-column: 1; 
    }
  
  .dob {
    grid-column: 3;
  }
  
  .row_six{
    display: flex;
    flex-direction: row;

    p{
      font-family: 'Muli', sans-serif;
      font-size: 16px;
      font-weight: 400;
      margin: 0 0 0 1em;
      align-self: center; }

      a{
        color: $rental-black;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
      }
  }



/////////////Login Page/////////////
.content-login{
  background-color: #fff;
  height:auto;
  box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.15);

  .form-padding{
    padding: 2em;
  }

}

.center-account{
  display: grid;
  justify-content: center;
  align-content: center;

  .content-createAccount{
    background-color: #fff;
    height:auto;
    box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.15);
  
    .form-padding{
      padding: 2em;
    }
  
  }
}

.login-image{
  h4{
    text-align: center;
  }
}
.row-three{
    display:flex;
    flex-direction: row;

    p{
      font-family: 'Muli', sans-serif;
      font-size: 16px;
      font-weight: 400;
      margin: 0 0 0 1em;
      align-self: center; }

      a{
        color: #56595a;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
      }
}


/////////////User Profile Page/////////////
.your-profile{
  background-color:  #1f1f1f;
  h2{
    color: white;
    margin: 2% 5%;
  }
}

.myPic{
  width: 15vh;
  height:15vh;
}

.myProfile {
  display: grid;
  grid-template-columns: 25% 1fr;
  column-gap:40px;
  background: #fff;
  // box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.05);
  transform: scale(1);
  transition: all 0.3s ease; 
  margin-top:-10%;
  margin-bottom:20%;
  padding: 3em;
}

.user{
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 10px;
  justify-items: center;
  align-items: center;

  h3{
    color:$rental-red;
  }

  h5{
    margin:0;
  }
}

.userProfile{
  display: grid;
  grid-template-rows: auto auto;
}

.userProfileContent{
  display: grid;
  grid-template-rows: auto auto auto auto;
  align-items: center;

  h4{
    margin:0;
  }

  p{
    margin:0;
  }
}

.user_row_two{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
}

.user_row_three{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width:1025px){

  .hero-image {
    max-width: 100%;
    height: 80vh;
}


}
